.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: lightgray;
    color: white;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

ul.nav-links {
    background-color: lightgray;
    margin-bottom: 0;
}

.Nav p {
    margin-bottom: 0;
}
